body{
    background-color: hsl(0, 0%, 100%);
    display:flex;
    flex-direction:column;    
    min-height: 100vh;
    width: 100%;
}

main{
    width: 100%;
}

h1, h2, h3, h4, h5, h6, a, p{
    color: #374048;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

h5, h6 {
    font-family: 'Poppins', sans-serif;
}

a, td, th, p, button, span, label, select, input, textarea, li{
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:hover, a:focus {
        outline: none;
        text-decoration: none;
        outline-offset: 0;
        color: hsl(0, 0%, 32%);
}

img{
    object-fit: cover;
    max-width: 100%;
}

video {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    width: 80%;
    position: fixed;
    z-index: 2000;
    top: 0;
    background-color: hsl(0, 0%, 97%) ;
}

.header-logo img{
    width: 10rem;
}

.header-menu ul {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.header-menu ul li {
    color: hsl(207, 17%, 72%);
    font-family: "Poppins",sans-serif;
    list-style: none;
    text-transform: uppercase;
}
.header-menu ul li a {
    color: hsl(206, 17%, 72%);
}

.header-checkout-button button{
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    background-color: hsl(18, 100%, 57%) ;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 2rem;
}

.header-checkout-button button:hover {
    background-color: hsl(0, 0%, 32%);
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
}

.slider .slider-title{
    position: absolute;
    top: 19%;
    right: 27.5%;
    width: 45%;
}

.slider .slider-title h2 {
    color:hsl(208, 13%, 25%);
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 30px;
    font-size: 4.5rem;
    text-align: center;
}

.slider .slider-image{
    width: 100%;
}

.slider-description {
    position: absolute;
    top: 40%;
    right: 30%;
    width: 40%;
}

.slider-description p {
    text-align: center;
    color:hsl(0, 0%, 100%);
    font-size: 1.6rem;
    font-weight: 300;

}

.slider .slider-button{
    position: absolute;
    top: 50%;
    right: 40%;
    width: 20%;
}

.slider .slider-button button {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    background-color: hsl(209, 100%, 50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Poppins",sans-serif;
    border: none;
    border-radius: 35px;
    padding: 1.2rem 5rem;
    position: absolute;
}

.slider .slider-button button:hover{
    background-color: hsl(0, 0%, 32%);
}

.featured {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-direction: column;    
    margin: 5% 15%;
    width: 70%;
}

.featured-items {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.featured-item-image{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.featured-item-image svg{
    width: 30%;
}

.featured-title h2 {
   font-size: 3rem; 
   text-align: center;
   text-transform: uppercase;   
}   

.featured-description {
    width: 60% ;
}

.featured-description p{
    color: hsl(208, 5, 54);
    font-size: 1.2rem;
    text-align: center;
}
 
.featured-item-title {
    margin-bottom: 1rem;
}

.featured-item-title h3{
    text-align: center;
}

.featured-item-description p {
    text-align: center;
}
.faqs {
    width: 100%;
}
.faqs-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}

.faqs-header-title {
    justify-content: flex-start;

}

.faqs-header-description {
    display: flex;
    flex-direction: column;
    width: 35%;

}

.faqs-header-description p {
    font-weight: 300;
    color:hsl(208, 5, 54) ;
    font-size: 1.1rem;
    text-align: center;
}

.faqs-question {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: flex-start;
    margin: 8%;
    font-weight: 300;
    
}

.faqs-question-item-title {
    color: #374048;

}

.faqs-question-item-image {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    justify-content: right;
}

.faqs-question-item-flex {
    display: flex;
    justify-content: space-between;
}

.linea {
    border-top: 1px solid hsl(0, 2%, 69%);
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}
.details {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 10%, 10%;
    padding: 10%;
}

.details-column {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
}

.details-item {
    align-items: start;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: row;
}

.details-icon {
    width: 30%;
}

.details-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.details-text p {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    color: hsl(208, 13%, 25%);
}
.details-title {

}

.details.description {

}

.team {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 97%) ;
}

.team-title h1 {
    text-align: center;
    color: #374048;
    font-size: 48px;

}
.team-description {
    display: flex;
    justify-content: center;
}

.team-description p { 
    text-align: center;
    margin: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
    max-width: 710px;
    color: hsl(207, 12%, 62%);
    
}

.team-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.team-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: white;
}

hr {
    width: 82px;
    height: 5px;
    background-color: hsl(0, 2%, 69%);
    opacity: 20%;
}

.team-item h4 {
    font-size: 1.2rem;
}

.team-item-social-networks {
    display: flex;
    justify-content: center;
}

.team-item-social-networks-desplegable {
    position: absolute;
    background-color: #374048;
    z-index: 20;
}

.team-item-image {
    position: relative;
    

}

.team-item-title {

}

.team-item-description p {
    color: hsl(0, 2%, 69%);
    font-weight: 200;
    font-size: 14px;

}

.contact {

}

.contact-map {

}

.contact-card {

}

.contact-card-front {

}

.contact-card-title {

}

.contact-card-items {

}

.contact-card-item {

}

.contact-card-item-icon {

}

.contact-card-item-text {

}

.contact-card-flip-button {

}

.contact-card-back {

}

.contact-card-form {

}

.contact-card-send-button {

}

.footer-social-networks {
    display: flex;
    justify-content: space-between;

}

.footer-social-networks-item {
    display: flex;
    justify-content: space-between;

}

.footer-menu {
    display: flex;
    justify-content: space-between;

}

.footer-copyright {

}














