header {
    display: flex;
    justify-content:space-between ;
    font-family: 'Poppins', sans-serif;
    align-items: baseline;

}

.header-logo {
    width: 5rem;
    

}

.header-menu {
    display: flex;
    justify-content: space-between;

    
}
.nav {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
li {
    margin: 2rem;
}


.header-checkout-button button{
    color: hsl(0, 0%, 100%);
    background-color:hsl(18, 100%, 57%) ;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    border: none;
    border-radius: 30px;
    margin: 5px;
    padding: 14px 40px;
}

.slider {

}

.slider-image {

}

.slider-title {

}
.slider-description {

}

.slider-button {

}

.featured {
    display: flex;
    justify-content: space-between;

}
.featured-items {

}
.featured-item {

}
.featured-item-image {

}

.featured-item-title {

}

.featured-item-description {

}


.details {
    display: flex;
    justify-content: space-between;
}

.details-column {
    display: flex;
    justify-content: space-between;
}

.details-item {
    display: flex;
    justify-content: space-between;
}

.details-icon {

}

.details-text {

}

.deteails-title {

}

.details.description {

}

.team {

}

.team-title {

}

.team-description { 
    
}

.team-items {
    display: flex;
    justify-content: space-between;

}

.team-item {
    display: flex;
    justify-content: space-between;

}

.team-item-social-networks {
    display: flex;
    justify-content: space-between;

}

.team-item-image {

}

.team-item-title {

}

.team-item-description {

}

.contact {

}

.contact-map {

}

.contact-card {

}

.contact-card-front {

}

.contact-card-title {

}

.contact-card-items {

}

.contact-card-item {

}

.contact-card-item-icon {

}

.contact-card-item-text {

}

.contact-card-flip-button {

}

.contact-card-back {

}

.contact-card-form {

}

.contact-card-send-button {

}

.footer-social-networks {
    display: flex;
    justify-content: space-between;

}

.footer-social-networks-item {
    display: flex;
    justify-content: space-between;

}

.footer-menu {
    display: flex;
    justify-content: space-between;

}

.footer-copyright {

}














