header {
    display: flex;
    gap: 2rem;


.header-logo {
}

.header-menu {
    display: flex-between;

}

.nav {
    display: flex;
}

.header-button {

}

.featured-items {
    display: flex;

}

.featured-item {
    display: flex;
}

.slider-image {

}

.slider-title {

}

.slider-button {

}

.featured {
    display: flex;

}

.featured-title {

}

.featured-description {

}

.featured-image {

}

.featured-item-title {

}

.details {
    display: flex;
}

.details-column {
    display: flex;
}

.details-item {
    display: flex;
}

.details-icon {

}

.details-text {

}

.deteails-title {

}

.details.description {

}

.team {

}

.team-title {

}

.team-description { 
    
}

.team-items {
    display: flex;

}

.team-item {
    display: flex;

}

.team-item-social-networks {
    display: flex;

}

.team-item-image {

}

.team-item-title {

}

.team-item-description {

}

.contact {

}

.contact-map {

}

.contact-card {

}

.contact-card-front {

}

.contact-card-title {

}

.contact-card-items {

}

.contact-card-item {

}

.contact-card-item-icon {

}

.contact-card-item-text {

}

.contact-card-flip-button {

}

.contact-card-back {

}

.contact-card-form {

}

.contact-card-send-button {

}

.footer-social-networks {
    display: flex;

}

.footer-social-networks-item {
    display: flex;

}

.footer-menu {
    display: flex;

}

.footer-copyright {

}














