.footer-social-networks {
    display: flex;
    justify-content: space-between;

}

.footer-social-networks-item {
    display: flex;
    justify-content: space-between;

}

.footer-menu {
    display: flex;
    justify-content: space-between;

}

.footer-copyright {

}
