//z-index

//typography
$font-stack: 'Poppins', 'sans-serif';
$font-stack-condensed: 'Poppins', 'sans-serif';

//colors
$primary-color: hsl(304, 44%, 19%);
$hover-color: hsl(314, 12%, 59%);
$secondary-color: #ba8474;