.details {
    display: flex;
    justify-content: center;
    margin: 10%, 10%;
    padding: 10%;
}

.details-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    gap: 1rem;

}

.details-item {
    align-items: start;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    padding-top: 2rem;
}
.details-image {
    width: 100%;
    padding: 2rem;
    
}

.details-icon {
    width: 20%;
}


.details-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-text p {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: hsl(209, 16%, 56%);
}
.details-title h3{
    font-size: 20px;
    
}

.details.description {


}