.team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.team-title h1 {
    text-align: center;
    margin: 2rem;

}
.team-description {
    
}

.team-description p { 
    text-align: center;
    margin: 3rem;
    font-weight: 300;
    font-size: 1.2rem;
    max-width: 710px
    

}

.team-items {
    display: flex;
    justify-content: space-between;

}

.team-item {
    display: flex;
    justify-content: space-between;

}

.team-item-social-networks {
    display: flex;
    justify-content: space-between;

}

.team-item-image {

}

.team-item-title {

}

.team-item-description {

}
